/*Contenedor del producto*/
.containerSS{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.cardProducts{
    height: 450px;
    overflow: hidden;
    background-color: white;
    width: 300px;
    margin-left: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
/*Contenedor con la imagen del producto*/
.cardProducts img{
    height: 200px;
    display: flex;
    justify-content: center;
}
/*Contenedor de imagen del producto*/
.cardImage{
    display: flex;
    justify-content: center;
}

.cardDescripcion p{
   font-size: 20px;
}

.cardfooter{
    padding-bottom: 10px;
    margin-top: 15px;
}
.cardfooter button{
    color: white;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    width: 150px;
}
.btnDetallesDelProducto{
    background-color: #797979;
}
.btnDetallesDelProducto:hover{
    background-color: coral;
}
.btnAgregarAlCarrito{
    background-color: teal;
}
.btnAgregarAlCarrito:hover{
    background-color:coral ;
}
.cardTitle{
    height: 100px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.BuscarArticulos input{
    width: 300px;
    height: 35px;
    border-radius: 20px 0 0 20px;
    outline: none;
    border: none;
}
.BuscarArticulos button{
    height: 35px;
    background-color: teal;
    border-radius: 0 20px 20px 0;
    width: 40px;
    color: white;
    font-size: 10px;
    border: none;
}
